<div th:replace="~{compartilhado/topo}"></div>

<script src="/js/scripts.js"></script>

<!-- Begin Page Content -->
<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Editar Veículo</h1>
    <p class="mb-4">
        Aqui você edita um veículo existente.
    </p>

    <div class="card shadow mb-4" style="padding: 30px;">
        <form method="POST" th:action="@{'/veiculos/' + ${veiculo.id} + '/atualizar'}">
            <div class="form-group">
                <label for="cliente">Cliente</label>
                <select class="form-control" id="cliente" name="cliente" required>
                    <option value="">Selecione o cliente</option>
                    <!-- Iterar sobre a lista de cliente para criar as opções -->
                    <option th:each="cliente : ${listaClientes}" th:value="${cliente.id}" th:text="${cliente.nome}"
                        th:selected="${cliente.id == veiculo.cliente?.id}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="marca">Marca</label>
                <select class="form-control" id="marca" name="marca" onchange="atualizarModelos()" required>
                    <option value="">Selecione a marca</option>
                    <!-- Iterar sobre a lista de marcas para criar as opções -->
                    <option th:each="marca : ${listaMarcasCarro}" th:value="${marca.id}" th:text="${marca.nome}"
                        th:selected="${marca.id == veiculo.marca?.id}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="modelo">Modelo</label>
                <select class="form-control" id="modelo" name="modelo" required>
                    <option value="">Selecione o modelo</option>
                    <!-- Iterar sobre a lista de modelos de carro para criar as opções filtradas pela marca selecionada -->
                    <option th:each="modelo : ${listaModelosCarro}" th:value="${modelo.id}" th:text="${modelo.modelo}"
                        th:selected="${modelo.id == veiculo.modelo?.id}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="placa">Placa</label>
                <input type="text" class="form-control" required id="placa" name="placa" placeholder="Digite a placa do veículo"
                    th:value="${veiculo?.placa}">
            </div>
            <div class="form-group">
                <label for="km">Km</label>
                <input type="number" class="form-control" required id="km" name="km" placeholder="Digite a quilometragem do veículo"
                    th:value="${veiculo?.km}">
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>

</div>
<!-- /.container-fluid -->
<div th:replace="~{compartilhado/baixo}"></div>
