<div th:replace="~{compartilhado/topo}"></div>

<script src="/js/scripts.js"></script>
<!-- <script src="/js/veiculo/scripts.js"></script> -->


<!-- Begin Page Content -->
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Novo Veículo</h1>
    <p class="mb-4">
        Aqui você cadastra um novo veículo.
    </p>
    <div class="card shadow mb-4" style="padding: 30px;">
        <form method="POST" action="/veiculos/criar" onsubmit="return confirm('Confirma ação')">
            <div class="form-group">
                <label for="cliente">Cliente</label>
                <select class="form-control" id="cliente" name="cliente">
                    <option value="">Selecione o cliente</option>
                    <!-- Aqui você irá iterar sobre a lista de cliente para criar as opções -->
                    <option th:each="cliente : ${listaClientes}" th:value="${cliente.nome}" th:text="${cliente.nome}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="marca">Marca</label>
                <select class="form-control" id="marca" name="marca" onchange="atualizarModelos()">
                    <option value="">Selecione a marca</option>
                    <!-- Iterar sobre a lista de marcas para criar as opções -->
                    <option th:each="marca : ${listaMarcasCarro}" th:value="${marca.id}" th:text="${marca.nome}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="modelo">Modelo</label>
                <select class="form-control" id="modelo" name="modelo">
                    <option value="">Selecione o modelo</option>
                    <!-- Iterar sobre a lista de modelos de carro para criar as opções filtradas pela marca selecionada -->
                    <option th:each="modelo : ${listaModelosCarro}" th:value="${modelo.id}" th:text="${modelo.modelo}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="placa">Placa</label>
                <input type="text" class="form-control" required id="placa" name="placa"
                    placeholder="Digite a placa do veículo">
            </div>
            <div class="form-group">
                <label for="km">Km</label>
                <input type="number" class="form-control" required id="km" name="km"
                    placeholder="Digite a quilometragem do veículo">
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>

</div>
<!-- /.container-fluid -->
<div th:replace="~{compartilhado/baixo}"></div>