<div th:replace="~{compartilhado/topo}"></div>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Editar Produto</h1>
    <p class="mb-4">
        Aqui iremos editar um produto
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4" style="padding: 30px;">
        <form method="POST" th:action="@{'/produtos/' + ${produto?.id} + '/atualizar'}">
            <div class="row">
                <!-- Coluna 1 -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="produto">Produto</label>
                        <input type="text" class="form-control" th:value="${produto.produto}" name="Produto"
                            placeholder="Digite o nome do produto">
                    </div>
                    <div class="form-group">
                        <label for="fornecedor">Fornecedor</label>
                        <select class="form-control" id="fornecedor" name="fornecedor">
                            <option value="">Selecione o fornecedor</option>
                            <!-- Aqui você irá iterar sobre a lista de fornecedores para criar as opções -->
                            <option th:each="fornecedor : ${listaFornecedores}" th:value="${fornecedor.id}" th:text="${fornecedor.nome}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="quantidade">Qtd.</label>
                        <input type="number" class="form-control" th:value="${produto.quantidade}" name="quantidade"
                            placeholder="Digite a quantidade do produto">
                    </div>
                    <div class="form-group">
                        <label for="precoVenda">Preço Venda</label>
                        <input type="number" class="form-control" th:value="${produto.precoVenda}" name="precoVenda"
                            placeholder="Digite o preço de venda do produto">
                    </div>
                    <div class="form-group">
                        <label for="precoCusto">Preço Custo</label>
                        <input type="number" class="form-control" th:value="${produto.precoCusto}" name="precoCusto"
                            placeholder="Digite o preço de custo do produto">
                    </div>
                    <div class="form-group">
                        <label for="sku">SKU</label>
                        <input type="text" class="form-control" th:value="${produto.sku}" name="sku"
                            placeholder="Digite o SKU do produto">
                    </div>
                </div>
                <!-- Coluna 2 -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" th:value="${produto.id}" name="id" readonly
                            style="background-color: #eee; cursor: not-allowed;" placeholder="error">
                    </div>
                    <div class="form-group">
                        <label for="descricao">Descrição</label>
                        <input type="text" class="form-control" th:value="${produto.descricao}" row="3" name="descricao"
                            placeholder="Digite a descrição do produto">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>

</div>
<!-- /.container-fluid -->
<div th:replace="~{compartilhado/baixo}"></div>
